# Secrets et certificats privés
*.p12
*.key
*.pem
*.jks
security/pki/gateway/gateway.p12
security/pki/root-ca/truststore.p12

# Fichiers de build et bruits
target/
bin/
obj/
*.db~
*.db
test.csr
gateway-full.pem
.env
*.jtl
jmeter.log
elapsed-sorted.txt
report-*users*/
rhpaie.wsdl
request.xml
report-sla/
*.csv
